# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env/
.venv/
env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Build artifacts
build/
dist/
*.egg-info/

# Secrets
*.env
config.yaml
